body {
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

span {
    background: url("heart.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}

@keyframes animate {
    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}
